body {
    background-color: white;
}

footer {
    padding: 20px;
    background-color: #ECEDEE;
}

.wp-row {
    margin: 30px 0 30px 0;
}

@keyframes bounce {
    0%,100% {
        transform: translateY( -0% ) translateX( -0% ) scaleX( 1 ) scaleY( 1 );
    }
    50% {
        transform: translateY( -10% ) translateX( -0% ) scaleX( 0.95 ) scaleY( 1.03 );
    }
}

.bouncing {
    animation: bounce 0.8s ease infinite;
    height: 115px;
    width: 125px;
}



#Charmander, #Vulpix {
    border: 1px solid lavenderblush;
    border-radius: 25px;
    padding: 1%;
    background-color: lavenderblush;
    font-family: 'Raleway', sans-serif;
}

#Squirtle, #Staryu {
    border: 1px solid lightcyan;
    border-radius: 25px;
    padding: 1%;
    background-color: lightcyan;
    font-family: 'Raleway', sans-serif;
}

#Bulbasaur, #Oddish {
    border: 1px solid #C8F8CA;
    border-radius: 25px;
    padding: 1%;
    background-color: #C8F8CA;
    font-family: 'Raleway', sans-serif;
}

#Pikachu, #Magnemite {
    border: 1px solid lightyellow;
    border-radius: 25px;
    padding: 1%;
    background-color: #FBF8B2;
    font-family: 'Raleway', sans-serif;
}

#Rattata, #Eevee {
    border: 1px solid lightgray;
    border-radius: 25px;
    padding: 1%;
    background-color: lightgray;
    font-family: 'Raleway', sans-serif;
}

#Geodude, #Omanyte {
    border: 1px solid #D1B48D;
    border-radius: 25px;
    padding: 1%;
    background-color: #D1B48D;
    font-family: 'Raleway', sans-serif;
}

#extra-border {
    margin: 0;
    padding: 1%;
    border: 2px solid white;
    border-radius: 25px;
}

table {
    width: 100%;
}

#name {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-style: italic;
}

#image {
    padding-left: 27%;
}

#sprite {
    height: 105px;
    width: 105px;
}

.moveset, .stats {
    margin-top: 5%;
}

.current {
    font-size: 105%;
}

.intro {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.intro h1 {
    font-size: 350%;
}

.intro p {
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 150%;
}