body {
	background-image: url('../media/Pokemon-background1.jpeg');
	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
}

footer {
	padding: 20px;
	background-color: #ECEDEE;
}

.main-box {
	width: 1200px;
	background-color: white;
}

.Middle-Text {
	font-size: 32px;
}

.component {
	display: none;
}

hr {
	border: 1px solid black;
	width: 100%;
}

/*
Styling index page:
 */
.ButtonText {
	color: black;
	font-size: 64px;
}

button {
	width: 100%;
	height: 100%;
}

.button-div {
	height: 250px;
	width: 250px;
	padding: 20px 20px 20px 20px;
}

.attack-button {
	height: 150px;
}

#PlayButton {
	background-color: lightyellow;
}

#HowToPlayButton {
	background-color: #C8F8CA;
}

#PokemonInfoButton {
	background-color: lightcyan;
}

#return-home {
	background-color: #ffffad;
}

#PokemonInfoButton, #PlayButton, #HowToPlayButton, #return-home {
	border-radius: 25px;
}

.smallertext {
	font-size: 230%;
}

/*
Begin styling pokemon choose page
 */

#smallerinfo {
	font-size: 100%;
}

.ReadyButton {
	font-style: italic;
	font-size: 40px;
	color: black;

}

#ReadyPokemonChoice, #ReadyAttackChoice, #ReadySwitchChoice {
	background-color: #FF91A4;
	height: 80px;
	width: 250px;
	border-radius: 12px;
}

.text-center {
	text-align: center;
	align-content: center;
}

/* hieronder is Frank zijn css*/

.wp-row {
	margin: 30px 0 30px 0;
}

@keyframes bounce {
	0%, 100% {
		transform: translateY(-0%) translateX(-0%) scaleX(1) scaleY(1);
	}
	50% {
		transform: translateY(-10%) translateX(-0%) scaleX(0.95) scaleY(1.03);
	}
}

.pokemon:hover img {
	animation: bounce 0.8s ease infinite;
	/*height: 115px;*/
	/*width: 125px;*/
}

/* on select */

.pokemon {
	padding: 1%;
	border-radius: 25px;
	font-family: 'Raleway', sans-serif;
	border: 1px solid;
}

.Fire-type {
	border-color: lavenderblush;
	background-color: lavenderblush;
}

.Water-type {
	border-color: lightcyan;
	background-color: lightcyan;
}

.Grass-type {
	border-color: #C8F8CA;
	background-color: #C8F8CA;
}

.Electric-type {
	border-color: lightyellow;
	background-color: #FBF8B2;
}

.Normal-type {
	border-color: lightgray;
	background-color: lightgray;
}

.Rock-type {
	border-color: #D1B48D;
	background-color: #D1B48D;
}

.extra-border {
	margin: 0;
	padding: 1%;
	border: 2px solid white;
	border-radius: 25px;
}

table {
	width: 100%;
}

.name {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-style: italic;
}

.image {
	padding-left: 27%;
}

#sprite {
	height: 105px;
	width: 105px;
}

.always-bouncing {
	animation: bounce 0.8s ease infinite;
}

.moveset, .stats {
	margin-top: 5%;
}

.current {
	font-size: 105%;
}

.intro {
	text-align: center;
}

.intro h1 {
	font-size: 350%;
}

.intro p {
	margin-top: 2%;
	margin-bottom: 3%;
	font-size: 150%;
}

/*
Styling attack page
 */
.pokeball {
	height: 25px;
	width: 25px;
}

#alliedPokemonImage {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.selected_pokemon .pokemon {
	border: 3px solid pink;
}

#AttackButton, #SwitchButton, .attack-choice-button {
	border-radius: 25px;
	height: 135px;
	border: 3px solid floralwhite;
}

#AttackButton {
	background-color: rosybrown;
}

#SwitchButton {
	background-color: bisque;
}

.attacktext, .switchtext {
	font-size: 40px;
}

.return-button {
	height: 160px;
	width: 250px;
	border-radius: 12px;
	background-color: white;
}

.top-buffer {
	margin-top: 100px;
}

.pokemon-switch-button {
	border-radius: 12px;
}

/*
Attack and being attacked animations
 */

@keyframes attack {
	0%, 100% {
		transform: translateY(-0%) translateX(-0%) scaleX(1) scaleY(1);
	}
	50% {
		transform: translateY(-30%) translateX(+290%) scaleX(0.98) scaleY(1.03) rotate(30deg);
	}
}

@keyframes attacked {
	0%, 100% {
		transform: translateY(-0%) translateX(-0%) scaleX(1) scaleY(1);
	}
	50% {
		transform: translateY(0%) translateX(+30%) scaleX(0.98) scaleY(1.03) rotate(10deg);
	}
}

.attacking {
	animation: attack 0.8s ease 1;
	animation-duration: 1.5s;
	animation-fill-mode: backwards;
}

.attacked {
	animation: attacked 0.8s ease 1;
	animation-duration: 1s;
	animation-delay: 0.75s;
}

.dev {
	display: none;
}

/*
Dying animation
 */
.dying {
	position:relative;
	animation:mymove 3s ease-out forwards;
	animation-iteration-count:3;
}

@keyframes mymove
{ from {top:0px; opacity: 1;}
	to {top:200px; opacity: 0}
}